<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <%- include ('./partials/head.html') %>

</head>

<body>

    <%- include ('./partials/navigation.html') %>

        <div class="container ">
            <div class="section-one-home">
                <div class="row ">
                    <div class="col-lg-12  text-center">
                        <img src="/img/banklup.png" class="col-md-12 col-sm-12 animated bounceIn" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--SECTION ONE-->
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-md-6 col-sm-12">
                    <i class="fab fa-youtube fa-10x "></i>
                </div>

                <div class="col-md-6 col-sm-12">
                    <h3>Suscríbete</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum consequatur dolorem consectetur, corporis iusto voluptates unde autem dolor aliquid enim, inventore cum molestiae, sed saepe at aliquam dolore voluptate fugiat.</p>

                </div>
            </div>
        </div>

        <%- include ('./partials/footer.html') %>



</body>

</html>